<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{formObject.title}}</h4>
    </div>
      <div class="modal-body">
        <form (ngSubmit)="sendRetrospective()" #retrospectiveForm="ngForm">
          <div *ngFor="let formElement of formObject.formElements">            
            <app-form-element-text *ngIf="formElement.key==='text'" (formValid)="validateFormElements()" [formElement]="formElement"></app-form-element-text>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!isValid">
          {{formObject.submit}}
        </button>
      </form>
    </div>
  </div>
</div>