<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create Retrospective</h4>
    </div>
      <div class="modal-body">
        <form (ngSubmit)="sendRetrospective()" #retrospectiveForm="ngForm">
          <app-form-element></app-form-element>
          <button type="submit" class="btn btn-success" [disabled]="!retrospectiveForm.form.valid">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>