<div class="form-group">
  <label>{{formElement.label}}</label>
  <input type="formElement.type" [(ngModel)]="formElement.content" 
      name="title" 
      class="form-control" 
      id="title" 
      placeholder="strategy" 
      #name = "ngModel"
      pattern="validator()"
      >
    <div [hidden]="!name.dirty || validator() "class="alert alert-danger">
      {{formElement.label}} invalid    
      <div [hidden]="isRequired() || !name.dirty" class="alert alert-danger">
      {{formElement.label}} is required
    </div>
    </div>
</div>
 